.camera{
    position: relative;
    top:-50px;
    z-index: 10;
    height:10px;
    left: 10px;
 }
.carousel{
    z-index: 2;

}
.imgcount{
    color: white;
    position: relative;
    top:-7px
}
.icon-text{
    position: relative;
    top:-7px;
}
.action{
    width: 100%;
}
::ng-deep .snackbar-style{
    position: absolute;
    top:50px;
    right: -10px;
    background-color: white;
    color:rgb(62, 122, 6);
    font-size: 16px;
    
    
  }