<div class="login-form">
    <mat-card>
        <mat-card-title class="header" color="primary">
            <span style="text-align: center;">Welcome Back </span></mat-card-title>
        <mat-card-content>
            <form action="" (ngSubmit)="onLogin()" name="loginForm" [formGroup]= "loginForm">
                <div class="email-input form-group">
                    <mat-icon class="field-icon"> email</mat-icon>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName= "email" matInput required>
                        <mat-error *ngIf= "loginForm.controls.email.errors?.required">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf= "loginForm.controls.email.errors?.email">
                            Invalid email
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-icon class="field-icon"> lock</mat-icon>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName ="password" matInput [type] = "hide?'password' :'text'" required >
                        <button mat-icon-button matSuffix (click)="hide = !hide"                       >
                            <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf = "loginForm.controls.password.errors?.required">
                            Required password
                        </mat-error>
                        <mat-error *ngIf = "loginForm.controls.password.errors?.minlength">
                            Invalid Password
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-last">
                  <mat-error *ngIf = "loginForm.controls.password.errors?.minlength">
                    <a routerLink='/forgot'>Forgot password</a>
                </mat-error>

                    <a routerLink= '/signup' color="primary" >New User? Sign Up Here</a>
                </div>
                <div class="login-btn-row">
                    <button mat-raised-button color="primary" class="login-btn" >Login</button>
                    <!-- [disabled] = "loginForm.invalid" -->
                </div>
                <div *ngIf ="errormsg" class="mt-4 text-danger">
                    {{errormsg}}
                </div>

            </form>
        </mat-card-content>
    </mat-card>

    <!-- <button (click)="closeDialog()"> cancel</button> -->
</div>

