<div class="reg-form">
    <mat-card>
        <mat-card-title class="header" color="primary">Sign Up Here</mat-card-title>     
        <mat-card-content>      
            <form action="" (ngSubmit)="onSubmit()" name="registerForm" [formGroup]= "registerForm">
                <div class="email-input form-group">
                    <mat-icon class="field-icon"> person</mat-icon> 
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>username</mat-label>
                        <input formControlName= "username" matInput required>
                        <mat-error *ngIf= "h.username.errors?.required">
                            User Name is required
                        </mat-error>
                        <mat-error *ngIf= "h.username.errors?.minlength">
                            User Name is  minimum 3 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="email-input form-group">
                    <mat-icon class="field-icon"> phone</mat-icon> 
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>phone number</mat-label>
                        <input formControlName= "mobile" matInput required>
                        <mat-error *ngIf= "h.mobile.errors?.required">
                            Mobile number is required
                        </mat-error>
                        <mat-error *ngIf= "h.mobile.errors?.minlength">
                            Invalid Mobile number
                        </mat-error>
                    </mat-form-field>
                </div>    
                <div class="email-input form-group">
                    <mat-icon class="field-icon"> email</mat-icon> 
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName= "email" matInput required>
                        <mat-error *ngIf= "h.email.errors?.required">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf= "h.email.errors?.email">
                            Invalid email
                        </mat-error>
                    </mat-form-field>
                </div>        
                <div class="form-group">
                    <mat-icon class="field-icon"> lock</mat-icon>            
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName ="password" #pwd  matInput [type] = "hide?'password' :'text'" required >
                        <button mat-icon-button matSuffix (click)="hide = !hide"                       >
                            <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf = "h.password.errors?.required">
                            Required password
                        </mat-error>
                        <mat-error *ngIf = "h.password.errors?.minlength">
                            Password is minimum 6 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-icon class="field-icon"> lock</mat-icon>            
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName ="confirmPassword" #cpwd matInput [type] = "hide?'password' :'text'" required >
                        <button mat-icon-button matSuffix (click)="hide = !hide"                       >
                            <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
                        </button>                   
                        <mat-error *ngIf = "h.confirmPassword.errors?.required">
                            Please Confirm Password
                        </mat-error> 
                        <mat-error *ngIf = "cpwd.value!= pwd.value">
                            Passwords not matched
                        </mat-error>                        
                        <mat-error *ngIf="h.confirmPassword.errors.mustmatch" > 
                            Password not matched                    
                        </mat-error>
                    </mat-form-field>                                    
                </div> 
               
                <div  class="d-flex justify-content-around">                 
                    <button mat-raised-button color="primary">Register</button>                  
                    <button mat-raised-button color="primary" (click)="onReset()">Reset</button>                                             
                </div>                                                   
            </form>
        </mat-card-content>
    </mat-card> 
</div>