.add{
    width: 200px;
    height: 60px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  
}
.add:hover{
    transform: translate(2px);
}
.add-prop{
    position: absolute;
    top:50px;
    left:100px;
    width: 400px;
    margin-bottom: 500px !important;
}