@media (min-width:1266px){
  .search{
    padding-left: 70px !important;
  }  
}
mat-form-field{
    width: 100%;
  }

button{
  width: 100%;
}
mat-radio-button{
  width: 50% !important;
}
.sort{
  margin-left: 10px !important;
  margin-right: 10PX !important;
}

@media (min-width:990px){
  .sort-radio{
    margin-left:-70px !important ;
  }
}  
  





